@font-face {font-family: "FenomenSans-Book"; src: url("//db.onlinewebfonts.com/t/33d8796f3057e0a2042961cd52cb93f8.eot"); src: url("//db.onlinewebfonts.com/t/33d8796f3057e0a2042961cd52cb93f8.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/33d8796f3057e0a2042961cd52cb93f8.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/33d8796f3057e0a2042961cd52cb93f8.woff") format("woff"), url("//db.onlinewebfonts.com/t/33d8796f3057e0a2042961cd52cb93f8.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/33d8796f3057e0a2042961cd52cb93f8.svg#FenomenSans-Book") format("svg"); }
.H1,h2,h3,h4,h5,h6{font-family: FenomenSans-Book;}

@font-face {font-family: "FenomenSans-Light"; src: url("//db.onlinewebfonts.com/t/3d0d4d2a7ef2e9f5ec8429add91b0529.eot"); src: url("//db.onlinewebfonts.com/t/3d0d4d2a7ef2e9f5ec8429add91b0529.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3d0d4d2a7ef2e9f5ec8429add91b0529.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3d0d4d2a7ef2e9f5ec8429add91b0529.woff") format("woff"), url("//db.onlinewebfonts.com/t/3d0d4d2a7ef2e9f5ec8429add91b0529.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3d0d4d2a7ef2e9f5ec8429add91b0529.svg#FenomenSans-Light") format("svg"); }
.p{font-family: FenomenSans-Light;}
.parallax {
    /* The image */
    background-image: url("./img/black-sand.jpg");
  
    /* Height */
    height: 800px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.Logo{
    width: 300px;
}

.Logo-mobile{
    width: 170px;
    margin-top: 0px;
}

.height{
    height: 50%;
}

.bg{
    background-color: #e0e0e0;
}

.card{
    background-color: transparent;
    border: none;
}

.bg2{
    background-color: #bdbdbd;
}

.social1{
    width: 45px;
}

.social2{
    width: 60px;
}

.bullet{
    width: 60px;
    margin-left: 38%;
}

.float{
    position: fixed;
    right: 10px;
    bottom: 30px;
    width: 90px;
    height: 90px;
}

.photo{
    width: 300px;
}

.ig{
    height: 500px;
}